{% extends 'base.html.twig' %}

{% block title %}Un film{% endblock %}

{% block body %}
    <a href="{{ path("indexFilm") }}" class="btn btn-primary">Retour</a>

            <div class="card" style="width: 18rem;">
                {#            <img src="..." class="card-img-top" alt="...">#}
                <div class="card-body">
                    <h5 class="card-title">{{ showFilm.name }}</h5>
                    <p class="card-text">{{ showFilm.resume }}</p>
                    <p class="card-text">{{ showFilm.realisateur }}</p>
                    <p class="card-text">{{ showFilm.releaseDate | date('d M Y') }} </p>
                    <a href="{{ path("editFilm",{id:showFilm.id}) }}" class="btn btn-info">Edit</a>
                    <a href="{{ path("delFilm",{id:showFilm.id}) }}" class="btn btn-danger">Supprimer</a>
                </div>
            </div>
<hr>
    <h3>Les impresions</h3>
    <div class="row">
        {% for OneImpression in AllImpressions %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <p class="card-text">{{ OneImpression.content }}</p>
                    <p class="card-text">{{ OneImpression.createdAt | date('d M Y') }} </p>
{#                    <a href="{{ path("delFilm",{id:OneFilm.id}) }}" class="btn btn-danger">Supprimer</a>#}
{#                    <a href="{{ path("editFilm",{id:OneFilm.id}) }}" class="btn btn-info">Edit</a>#}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
