{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <div class="row">
        {% for user in users %}
            {% if user == app.user %}
            <div class="card" style="width: 18rem;">
                {#            <img src="..." class="card-img-top" alt="...">#}
                <div class="card-body">
                    <h5 class="card-title">{{ user.username | capitalize }} | Admin</h5>
                    <p class="card-text">{{ user.email }}</p>
                    <p class="card-text">{{ user.films | length }} Film créer</p>
                    <p class="card-text">{{ user.impressions | length }} Impressions créer</p>
                    <p class="card-text">{{ user.likes | length }} Like mis</p>

                </div>
            </div>
            {% else %}
            <div class="card" style="width: 18rem;">
                {#            <img src="..." class="card-img-top" alt="...">#}
                <div class="card-body">
                    <h5 class="card-title">{{ user.username }}</h5>
                    <p class="card-text">{{ user.email }}</p>
                    <p class="card-text">{{ user.films | length }} Film créer</p>
                    <p class="card-text">{{ user.impressions | length }} Impressions créer</p>
                    <p class="card-text">{{ user.likes | length }} Like mis</p>
                    <a href="{{ path("delUser",{id:user.id}) }}" class="btn btn-danger">Supprimer</a>

                </div>
            </div>
                {% endif %}
        {% endfor %}
    </div>
{% endblock %}
